.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(24, 24, 27, 0.8); /* Semi-transparent dark background */
    backdrop-filter: blur(10px); /* Frosted glass effect */
    color: white;
    padding: 0 2rem;
    height: 60px;
    position: fixed; /* Make it stick to the top */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ensure it's above other content */
    box-sizing: border-box; /* Include padding in width calculation */
}

.navbar-logo a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    padding: 0 1rem;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.navbar-links a:hover {
    color: #a7a7a7;
}